/* =============
  Global styles
 ============= */

* {
  --background-color: #131010;
  --font-color: #FFF0DC;
  --link-hover-color: #F0BB78;
  --site-title-font-size: 1.5rem;
  --nav-link-font-size: 1.25rem;
} 

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline: 2px solid lime; */
  /* background: hsl(0 100% 50% / .1); */
}

/* Reset */

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: var(--background-color);
  font-family: "Arizona Serif Variable";
  font-variation-settings: 'slnt' 0, 'SRFF' 1;
  font-feature-settings: "ss07", "ss01";
  color: var(--font-color);
  padding: 2rem;

  overflow-y: hidden;

}


main {
  min-width: 0;
}

ul {
  list-style: none;
}

/* =============
    typography
 ============= */

.site-link {
  font-weight: 900;
  font-size: var(--site-title-font-size);
}

.nav__link {
  font-weight: 400;
}

.active {
  color: var(--link-hover-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}


/*  =========
      Layout
    ========= */

.padding__block-2 {
  padding-block: 1rem;
}

.wrapper {
  display: grid;

  --wrapper-max-width: 920px;
  --wrapper-padding: 2rem;

  width: min(var(--wrapper-max-width), 100% - 2*var(--wrapper-padding));
  margin-inline: auto;
}

.wrapper--xl {
  display: grid;

  --wrapper-max-width: 1200px;
  --wrapper-padding: 2rem;

  width: min(var(--wrapper-max-width), 100% - 2*var(--wrapper-padding));
  margin-inline: auto;

}

/* Make images easier to work with */
img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  display: block;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 3rem;
}

.primary-navigation ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.primary-navigation a {
  font-weight: 400;
  font-size: var(--nav-link-font-size);
  cursor: pointer;
}

.primary-navigation a:hover, 
.primary-navigation a:focus-visible {
  color: var(--link-hover-color);
}

.title {
  flex-grow: 1;
}

.gallery__tiles {
  /**
  * User input values.
  */
  --grid-layout-gap: 0.5rem;
  --grid-column-count: 3;
  --grid-item--min-width: 250px;

  /**
  * Calculated values.
  */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  grid-template-rows: masonry;
}


.gallery__title {
  font-size: 1.125rem;
  font-weight: 400;
}

.about__profile-pic-container {
  max-width: 300px;
}
.about__profile-pic img {
  width: 100%;
}

.post__article {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.post__text {
  vertical-align: top;
}

.scroller {
  max-width: 2000px;
  --scroller-min-height: 90dvh;
  min-height: var(--scroller-min-height);
  height: 100%;
}

.scroll__track {
  /* position: absolute; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  --gallery-gap: 0.75em;
  gap: var(--gallery-gap);
}

.scroller__item {
  min-width: 700px;
  max-height: calc(0.75 * var(--scroller-min-height));

  & img {
    object-fit: cover;
    max-height: 100%;
  }
}


.scroller[data-animated="true"] {
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroller[data-animated="true"] .scroll__track {
  width: fit-content;
  flex-wrap: nowrap;
  animation: 
    scroll 
    var(--_animation-duration, 80s) 
    var(--_animation-direction, forwards)
    linear 
    infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 360s;
}

.scroller[data-speed="med"] {
  --_animation-duration: 60s;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--gallery-gap)/2)));
  }
}


/*  ============
     Components
    ============ */

button, 
input, 
textarea, 
select {
  font: inherit;
}