<section>
    <div class="scroller" data-direction="left" data-speed="slow">
        <ul class="scroll__track">
            {# loop over images and add #}
            {% for gallery in collections.gallery %}
                {% for image in gallery.data.images %}
                <li class="scroller__item">
                    <img src="{{image.src}}" alt="{{image.alt}}">
                    <p> {{image.title}}, {{image.date | date}} </p>
                </li>
                {% endfor %}
            {% endfor %}
    </ul>
    </div>
</section> 
